.info {
	&--medium {
		width: 100%;

		@media (min-width: 740px) {
			width: 38%;
		}

		@media (min-width: 1350px) {
			width: 530px;
		}
	}
	&--large {
		width: 100%;

		@media (min-width: 740px) {
			width: 60%;
		}

		@media (min-width: 1350px) {
			width: 777px;
		}
	}
}
.bottom-info {
	padding-top: 65px;
	padding-bottom: 44px;
	&__row {
		display: flex;
		justify-content: space-between;
		flex-direction: column;

		@media (min-width: 740px) {
			flex-direction: row;
		}
	}
}
