// USER VARIABLES SECTION

$accent: orange; // Accent Color
$fontsize: 16px; // Body Font Size
$textcolor: #f8f8f8; // Text Color
$system: -apple-system, BlinkMacSystemFont, Arial, sans-serif; // System Font Family
$roboto: Montserrat, sans-serif; // Roboto Font Family

// Bootstrap compatible gutter variable => $gutter
$grid-gutter-width: 20px;
$gutter: $grid-gutter-width;

// IMPORT SECTION

@import 'node_modules/bootstrap/scss/bootstrap-reboot.scss'; // Bootstrap Reboot collection
@import 'node_modules/bootstrap/scss/mixins/_breakpoints.scss'; // Bootstrap Breakpoints mixin
// @import 'node_modules/bootstrap/scss/bootstrap-grid.scss'; // Optional Bootstrap Grid
// @import 'node_modules/bootstrap/scss/utilities/_sizing.scss'; // Optional Bootstrap Utilites

// FONTS LOAD SECTION

@mixin font($fname, $fstyle, $fweight, $furl) {
	@font-face {
		font-family: $fname;
		font-style: $fstyle;
		font-weight: $fweight;
		// font-display: swap; // Uncomment to initially display system fonts
		src: local($fname), url($furl) format('woff2');
	}
}

@include font('Montserrat', normal, 700, '../fonts/Montserrat-Bold.woff2');
@include font('Montserrat', normal, 500, '../fonts/Montserrat-Medium.woff2');
@include font('Montserrat', normal, 400, '../fonts/Montserrat-Regular.woff2');
@include font('Montserrat', normal, 600, '../fonts/Montserrat-SemiBold.woff2');
@include font('Teko', normal, 700, '../fonts/Teko-Bold.woff2');
@include font('Teko', normal, 600, '../fonts/Teko-SemiBold.woff2');
@include font('Teko', normal, 600, '../fonts/Teko-Medium.woff2');
@include font('Teko', normal, 600, '../fonts/Teko-Regular.woff2');

// GENERAL DOCUMENT STYLES

::placeholder {
	color: #666;
}

::selection {
	background-color: $accent;
	color: #fff;
}

input, textarea {
	outline: none;
	&:focus:required:invalid { border-color: red }
	&:required:valid { border-color: green }
}

* {
	box-sizing: border-box;
}

body {
	background-color: #232323;
	margin: 0;
	font-family: $roboto;
	font-size: $fontsize;
	min-width: 320px;
	position: relative;
	line-height: 1.65;
	overflow-x: hidden;
	color: $textcolor;
}

img {
	max-width: 100%;
	height: auto;
}
.container {
	max-width: 1090px;
	padding: 0 15px;
	margin-left: auto;
	margin-right: auto;	
}
.container-wide{
	max-width: 1350px;
	margin-left: auto;
	margin-right: auto;	
}
.height-100 {
	height: 100%;
}
