.header {
	height: 800px;
	width: 100%;
	padding-top: 36px;
	background-color: #f3e1d5;
	background-image: url('../images/src/header-bg 1.jpg');
	background-size: cover;
	background-position: center;
	&__nav-row {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 150px;
	}
	&__nav {
		display: flex;
		color: #404040;
		font-family: 'Teko', sans-serif;
		font-weight: 600;
		font-size: 23px;
		text-transform: uppercase;
		letter-spacing: 0.45px;
		&-link {
			color: #404040;
			margin-right: 52px;
			position: relative;
			&::after {
				content: '';
				display: block;
				width: 6px;
				height: 6px;
				background-color: #004cff;
				position: absolute;
				right: -28px;
				top: 15px;
				transform: rotate(45deg);
				pointer-events: none;
			}
			&:last-child::after {
				display: none;
			}
			&:last-child {
				margin-right: 0;
			}
			&:hover {
				color: #004cff;
				text-decoration: none;
			}
			&--active {
				color: #004cff;
			}
		}
	}
	&__button {
		height: 66px;
		padding-top: 23px;
		padding-left: 38px;
		padding-right: 38px;
		background-color: #004cff;
		color: $textcolor;
		font-family: 'Teko', sans-serif;
		font-weight: 600;
		line-height: 1;
		font-size: 23px;
		text-transform: uppercase;
		letter-spacing: 0.45px;
		transition: background-color 0.2s ease-in;
		&:hover {
			background-color: #0a3fbb;
			text-decoration: none;
			color: $textcolor;
		}
	}
	&__promo {
		max-width: 400px;
		&-button {
			display: inline-block;
			padding-left: 48px;
			padding-right: 48px;
			padding-top: 11px;
			height: 61px;
			border: 6px solid #fff;
			font-size: 18px;
			font-weight: 600;
			text-transform: uppercase;
			color: $textcolor;
			text-decoration: none;
			transition: border-color 0.2s ease-in, color 0.2s ease-in;
			&:hover {
				color: #ffd03b;
				border-color: #ffd03b;
				text-decoration: none;
			}
		}
	}
	&__title {
		margin-bottom: 60px;
		font-family: 'Teko', sans-serif;
		font-size: 68px;
		font-weight: 700;
		line-height: 72px;
		letter-spacing: 2.73px;
	}
}